<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section class="info">
        <div class="mi-flex row">
            <div class="col">

                <h2 class="text-center text-white ">AGREGAR RESERVACION</h2>


                <label class="text-white" for="">NOMBRES</label>
                <input class="form-control " type="text" id="name">

                <label class="mt-3 text-white for=">APELLIDOS</label>
                <input class=" form-control" type="text" id="apellidos">

                <label class="mt-3 text-white" for="">EDAD</label>
                <input class="form-control" type="text" id="edad">

                <label class="mt-3 text-white for=">PROFESION</label>
                <input class=" form-control" type="text" id="profesion">

                <label class="mt-3 text-white" for="">TELEFONO</label>
                <input class="form-control" type="text" id="tel">

                <label for="usuario" class="label text-left">CORREO ELECTRONICO</label>
                <input type="email" class="form-input" id="emailUser" placeholder="INGRESE SU USUARIO">

                <label class="text-white" for="">PERFIL</label>
                <input class="form-control " type="text" id="perfil">

                <label class="mt-3 text-white" for="">SEXO</label>
                <select id="servicio" class="form-control">

                    <option value="Sexo"></option>
                    <option value="MASCULINO">MASCULINO</option>
                    <option value="FEMENINO">FEMENINO</option>
                </select>
                <button id="btnAgregar" onclick="agregarDatos()" class="btn btn-primary mt-3">Agregar Datos</button>
                <button id="btnActualizar" onclick="actualizarDatos()" class="btn btn-primary mt-3">Actualizar
                    Datos</button>

            </div>
        </div>
        </div>
    </section>
</body>

</html>